[Unit]
Description=Simple Telegram bot that logs chat messages

[Service]
User=eigenein
Group=eigenein
WorkingDirectory=/home/eigenein/loggerbot
ExecStart=/usr/bin/env python3 bot.py --log-file loggerbot.log loggerbot.sqlite3
Restart=always

[Install]
WantedBy=multi-user.target
